body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../sprites/ticketbg.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
}

nav {
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    top: 5%;
    left: 5%;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    background-color: rgba(56, 56, 56, 0.75);
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em;
    border-radius: 12%;
    transition: all 500ms ease-out;
}

nav ul li a:hover {
    background-color: #555;
}


main {
    padding: 1.5em;
}

.ticketContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.ticket{
    margin:auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.ticket ul li{
    margin-bottom: 0.5em;
}

.ticket h4{
    font-size: 2.5em;
    margin: 0;
    margin-left: 1em;
    margin-right: 1em;
}

input {
    font-size: 1em;
}

#myRange{
    width: 20em;
}

#rangeOutput{
    text-align: center;
}

textarea{
    font-size: 1em;
    margin-top: 1em;
    margin-right: 1em;
}

.submitButton{
    margin-left: 2em;
}

.submitButton button{
    background-color: black;
}
.ticket ul li{
    font-size: 2em;
}

.subtext {
    margin-left: 2%;
    font-size: 1em;
}

ul {
    list-style-type: none;
}


.dropdown {
    position: relative;
    display: inline-block;
    background-color: transparent;
}

button {
    background-color: transparent;
    padding: 0;
    margin-bottom: 0.8em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 200%;
}

.dropbtn {
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.912);
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.6);

}

.dropdown-content-races {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.912);
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
    column-count: 2;
    column-gap: 1.5em;
}

.dropdown-content a {
    color: #333;
    padding: 1em;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: white;
}

.dropdown-content a:hover {
    background-color: #585858;
}

.dropdown:hover .dropdown-content {
    display: block;
    z-index: 2;
}

.dropdown:hover .dropbtn {
    background-color: #585858;
}

.btn {
    display: inline-block;
    margin-left: 2em;
    margin-bottom: 0.5em;
    background-color: rgb(121, 11, 11);
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 0.5em;   
}

.btn:hover {
    background-color: rgb(66, 10, 10);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5em;
}
