body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../sprites/bgwarrior.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
}

nav {
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    top: 5%;
    left: 5%;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    background-color: rgba(56, 56, 56, 0.75);
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em;
    border-radius: 12%;
    transition: all 500ms ease-out;
}

nav ul li a:hover {
    background-color: #555;
}


main {
    padding: 1.5em;
}

.loop-img-container {
    display: flex;
    overflow: visible;
    height: 100vh;
    /* margin-bottom: 7.5em; */
}

section {
    flex: 1;
    margin-bottom: 2em;
    margin-left: 6em;
    height: 0;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}


figure{
    margin-left: 8em;
    overflow: hidden;
    flex: 2;
    height: 100%;
}

.specs{
    flex: 1;
}

.specs section{
    margin-left: 0;
    width: 100%;
}

#img1 {
    animation-name: move-img1;
    animation-duration: 20s;
    animation-timing-function: ease-out;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

#img2 {
    position: relative;
    left: 62.5em;
    scale: 0.75;
    top: -53em;
    animation-name: move-img2;
    animation-duration: 20s;
    animation-timing-function: ease-out;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes move-img1 {
    0% {
        transform: translate(0);

    }

    40% {
        transform: translate(0);

    }   

    50% {
        transform: translateY(125em);

    }

    90% {
        transform: translateY(125em);

    }

    100% {
        transform: translate(0);
    
    }
    
}

@keyframes move-img2 {
    0% {
        transform: translate(0);
    }

    40% {
        transform: translate(0);
    }

    50% {
        transform: translateX(-97em);
    }

    90% {
        transform: translateX(-97em);
    }

    100% {
        transform: translate(0);
    }
    
}

/* ABILITIES CONTAINER */
/* ABILITIES CONTAINER */
/* ABILITIES CONTAINER */

.abilities-container{
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
    position: relative;
}

.ability{
    background-color: rgba(0, 0, 0, 0.425);
    border-radius: 0.5em;
    max-height: 15em;
}

.ability-header{
    margin: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #191855;
    color: white;
    height: 30%;
}

.abilities-container img{
    margin: 0.5em;
    max-height: 80%;
}

.ability-desc{
    margin-left: 1em;
    color: white;
}


/* ABILITIES CONTAINER */
/* ABILITIES CONTAINER */
/* ABILITIES CONTAINER */
h2 {
    color: #cccccc;
    font-size: 1.5em;
}

ul {
    list-style-type: none;
}


.dropdown {
    position: relative;
    display: inline-block;
    background-color: transparent;
}

button {
    background-color: transparent;
    padding: 0;
    margin-bottom: 0.8em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 200%;
}

.dropbtn {
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.912);
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.6);

}

.dropdown-content-races {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.912);
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
    column-count: 2;
    column-gap: 1.5em;
}

.dropdown-content a {
    color: #333;
    padding: 1em;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: white;
}

.dropdown-content a:hover {
    background-color: #585858;
}

.dropdown:hover .dropdown-content {
    display: block;
    z-index: 2;
}

.dropdown:hover .dropbtn {
    background-color: #585858;
}

.btn {
    display: inline-block;
    margin-left: 2em;
    margin-bottom: 0.5em;
    background-color: rgb(121, 11, 11);
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 0.5em;   
}

.btn:hover {
    background-color: rgb(66, 10, 10);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5em;
}

@media screen and (max-width: 1600px) {
    figure{
        flex: 1;
        height: auto;
        visibility: hidden;
    }

    .specs{
        padding: 5em;
        flex: 0;
    }

    .loop-img-container{
        height: auto;
        display: block;
        overflow: hidden;
    }

    .specs{
        height: 0;
        visibility: hidden;
    }

}