<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WoW News</title>
    <link rel="stylesheet" href="css/news.css">
    <script type="text/javascript" src="scripts/news.js"></script>
</head>

<body>
    <main>
        <nav>
            <ul>
                <li><a href="https://www.blizzard.com/en-us/">Blizzard</a></li>
                <li><a href="index">Home</a></li>
                <li><a href="news">News</a></li>
                <li>
                    <div class="dropdown">
                        <a class="dropbtn">Classes</a>
                        <div class="dropdown-content">
                            <a href="warrior">Warrior</a>
                            <a href="#">Mage</a>
                            <a href="#">Paladin</a>
                            <a href="#">Priest</a>
                            <a href="#">Hunter</a>
                            <a href="#">Rogue</a>
                            <a href="#">Shaman</a>
                            <a href="#">Warlock</a>
                            <a href="#">Monk</a>
                            <a href="#">Druid</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a class="dropbtn">Races</a>
                        <div class="dropdown-content">
                            <a href="human">Human</a>
                            <a href="#">Dwarf</a>
                            <a href="#">Night Elf</a>
                            <a href="#">Gnome</a>
                            <a href="#">Orc</a>
                            <a href="#">Undead</a>
                            <a href="#">Tauren</a>
                            <a href="#">Troll</a>
                        </div>
                    </div>
                </li>
                <li><a href="ticket">Ticket</a></li>
                <li><a href="account" >
                    <% if (user == null) { %>
                        Account
                    <% } else { %>
                        <%= user %>
                    <% } %>
                </a></li>
            </ul>
        </nav>

        <h2>News</h2>

        <div id = "news">
            <div class = "newsCards" id = "news0">
                <img src = "sprites/news0.jpg" alt = "News">
            </div>
            <div class = "newsCards" id = "news1">
                <img src = "sprites/news1.webp" alt = "News">
            </div>
            <div class = "newsCards" id = "news2">
                <img src = "sprites/news2.jpg" alt = "News">
            </div>
            <div class = "newsCards" id = "news3">
                <img src = "sprites/news3.webp" alt = "News">
            </div>
            <div class = "newsCards" id = "news4">
                <img src = "sprites/news4.webp" alt = "News">
            </div>
            <div class = "newsCards" id = "news5">
                <img src = "sprites/news5.avif" alt = "News">
            </div>
        </div>

        <div id = "newsArticle">
            <div id = "initText">
                <p> Read about the latest stories on World of Warcraft: new expansions, new patches, hotfixes, bet testing and more. Follow Warcraft and stay up to date with the latest news!</p>
            </div>
        </div>

    </main>

</body>

</html>